<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="{% url 'test' %}" onsubmit="return check()">
      {% csrf_token %}
      <label for="password">Enter OTP</label>
      <input type="password" id="password" name="otp_name" />
      <input type="submit" value="Submit" />
      <input type="hidden" id="otp_data" name="otp_data" value="{{otp}}" />
      <input type="hidden" name="total" id="json" value="{{json_data}}" />
    </form>
    <script defer>
      const otpValue = document.getElementById("otp_data").value;
      function check() {
        let submitOk = false;
        console.log(typeof otpValue);
        const userOtp = document.getElementById("password").value;
        console.log(typeof userOtp);
        if (otpValue == userOtp) {
          submitOk = true;

          return submitOk;
        } else {
          alert("Entered wrong OTP");

          console.log("wrong OTP");
          return submitOk;
        }
      }
    </script>
  </body>
</html>
