body{
   
    background-color: #EAFDFC;

}




footer h3{
    font-family: 'Pacifico', cursive;
}

footer{
    padding-top: 10px;
    background-color:rgb(20, 34, 61);
    color: #EAFDFC;
    padding-bottom: 10px;
text-align: center;
}
footer svg{
    height: 30px;
    width: 30px;
}

footer ul{
    list-style-type: none;
}

.socials{
   
    display: flex;
    margin-left: 44%;
}

.socials li{
    

    padding-left: 5px;
    padding-right: 5px;
   
}


.socials svg{
    color: #EAFDFC;
}
.socials li:hover{
    color: aqua;
}
