body{
    background-color: #EAFDFC;
}
#nav{
    background-color: rgb(20, 34, 61); position: sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}


#logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: aliceblue;
    
}

.trending{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding: 50px;
    padding-bottom: 25px;
    text-align: center;

}

.card{
    transition: 0.3s;
    box-shadow: rgba(132, 164, 239, 0.986) 0px 10px 10px, rgba(132, 164, 239, 0.986) 0px 10px 10px;;
}

.card:hover{
    transform: scale(1.1);
}

.form-inline{
    position: relative;
    right: 550px;
}

.form-control{
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.carousel-item{
    height: 600px;
} 
.carousel-item img{
    height: 600px;
}

#image{
    width: 100%;
}

footer h3{
    font-family: 'Pacifico', cursive;
}

footer{
    padding-top: 10px;
    background-color:rgb(20, 34, 61);
    color: #EAFDFC;
    padding-bottom: 10px;
text-align: center;
}
footer svg{
    height: 30px;
    width: 30px;
}

footer ul{
    list-style-type: none;
}

.socials{
   
    display: flex;
    margin-left: 44%;
}

.socials li{
    

    padding-left: 5px;
    padding-right: 5px;
   
}


.socials svg{
    color: #EAFDFC;
}
.socials li:hover{
    color: aqua;
}

#description{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 80px;  
    width: 100px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}




