body{
  background-color:  rgb(20, 34, 61);
}


#nav{
  background-color: rgb(20, 34, 61);
}


#logo{
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  color: aliceblue;
  
}

  
#redirect{
  color: #EAFDFC;
  margin-left: 8px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  }
  
#redirect1{
    color: #EAFDFC;
    margin-left: 8px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }

.form-control{

  text-align: center;
}

.formele {
    width: 50%;
  }

.paynow,.resendOtp{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: white; 
    color: black; 
    border: 2px solid  rgb(20, 34, 61);
    
}

.paynow:hover,.resendOtp:hover {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(20, 34, 61); 
    color: white; 
    border: 2px solid  rgb(20, 34, 61);
    
}

#submit{
  width: 100px;
  
}

.font{
  font-family: 'Raleway', sans-serif;
}

footer h3{
  font-family: 'Pacifico', cursive;
}

footer{
  padding-top: 10px;
  background-color:rgb(20, 34, 61);
  color: #EAFDFC;
  padding-bottom: 10px;
  text-align: center;
}
footer svg{
  height: 30px;
  width: 30px;
}

footer ul{
  list-style-type: none;
}

.socials{
 
  display: flex;
  margin-left: 44%;
}

.socials li{
  

  padding-left: 5px;
  padding-right: 5px;
 
}


.socials svg{
  color: #EAFDFC;
}
.socials li:hover{
  color: aqua;
}
.myform-otp {
  display: none;
}
.resendOtp {
  display: none;
}