body{
    background-color: rgb(20, 34, 61);
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: aliceblue;
}

.form-inline{
    position: relative;
    right: 550px;
}

.form-control{
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}



@media screen and (max-width: 650px){
 .border{
    width: 90%;
 }


    img{
      
        height: 10px;
        width: 10px;

    }
   
   
    h3{
    font-size: 20px;
   }
  

   .venue-details{
     position: relative;
     right: 100px;
   }
  }